NOTEBOOKS/.DS_Store
./.DS_Store
*.DS_Store
*.cache/*
*.local/*
*.pip/*
*.jupyter/*
*.ipython/*
NOTEBOOKS/.ipynb_checkpoints/*
*.viminfo*
NOTEBOOKS/input/train.csv
NOTEBOOKS/input/test.csv
*.keras/*
.bash_history
